body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h1{
    font-size: 3em;
    text-align: center;
}